@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>


<button type="button"
        data-ripple-light="true"
        class="py-3 px-6 bg-gray-900 text-white shadow-gray-900/10 select-none rounded-lg text-center align-middle font-sans text-xs font-bold uppercase shadow-md transition-all hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none">

    Welcome to your new app.
</button>